/* Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* common utilities */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

/* --------------Header style----------- */

.container{
display: flex;
background-color:#2D25A0;

justify-content: center;
align-items: center;
width: 1440px;
height: 677px;
}
.heading{
margin-bottom: 27px;
}

.heading h1{
   
    font-size: 63px;
    line-height: 80px;
    margin: 1px;   
    font-weight: 700;
    color: white;
    
}
.head{
   
    width: 485;
height: 301px;
}

#button{
    text-decoration: none;
    width: 168px;
height: 44px;
color: white;
background-color:  #E02C6D;
padding: 10px 24px;



}
#button:hover{
   background-color: cornflowerblue;
}
.banner{
    padding-left: 102px;
    
}


/* artical */
main{
margin: 70px 210px 165px 180px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
}
.player-card{
padding: 15px;
}
.player{
    width: 330px;
height: 474px;
box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player img{
    width: 300px;
    height: 256px;
    
}
/* vedio Section  */
.vedio{
    display: flex;
    border: 5px solid gray;
    background-color:lightskyblue;
    justify-content: center;
    align-items: center;
}





/* Footer */
footer {
    width: 483.87px;
    height: 213px;
    
    margin: 158px 478.13px 63px 478px;
}

footer img {
    width: 455px;
    height: 110px;
    */
}


.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.socials li {
    
    padding-right: 14px;
  

}
.socials ul{
    padding: 0px 156px;
}
.copyright{
    margin-bottom: 0px;
    padding-left: 123px;
    padding-right: 123px;
}


/*----------------------------
 --------Media queries---------
 -----------------------------*/

 /* mobile devices */


  @media only screen and (max-width: 600px) {
      .container{
width: 100%;
flex-direction: column;
height: 50%;
      }
      .heading h1{
          margin: 0px;
          font-size: 200%;
          justify-content: center;
      }
      .banner img{
          width: 100%;
         align-items: center;
      }
.banner{
    padding: 50px;
}
.players{
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-content: center;

 
    
   
}
.vedio{
    flex-direction: column;
    width: 40px;
    height: 80px;
    align-items: center;

    margin-bottom: 20px;
    height: 60%;
  
}


footer{
margin:0px ;
width: 100%;


}
footer img{
    width:50%;
    height: 50%;
}
.copyright{
   font-size: 10px;
}
  }   